.footer-line {
    width: 100%;
    height: 1px;              
    background-color:#9C69E2;   
    margin-top: 60px;         
}

.footer {
    padding: 60px 240px;
    font-family: 'Montserrat', sans-serif;
}

.footer-top {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 40px;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-title {
    font-weight: 700;
    font-size: 40px;
    color: #212353;
    margin: 0;
}

.footer-description {
    font-weight: 500;
    font-size: 18px;
    color: #4B5D68;
    margin-top: 20px;
}

.footer-buttons {
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 20px;           
}

.footer-buttons .learn-more-btn {
    min-width: 170px;
    height: 60px;
    border-radius: 50px;
    border: none;
    background-color: #F063B8; 
    color: #FFFFFF;
    font-weight: 800;
    font-size: 16px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-buttons .request-btn {
    min-width: 210px;
    height: 60px;
    border-radius: 50px;
    border: none;
    background-color: #FFFFFF; 
    box-shadow: 0px 5px 5px #4B5D681A; 
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px; 
}

.footer-buttons .request-btn .btn-text {
    font-weight: 800;
    font-size: 16px;
    color: #212353;
}

.footer-buttons .request-btn .btn-arrow {
    width: 20px;
    height: 14px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between; 
    align-items: center;           
    margin-top: 30px;
}

.footer-pov {
    width: 260px;
    font-size: 12px;
    font-weight: 400;
    line-height: 180%;
    color: #212353;
    margin: 0;
}

.footer-image {
    margin-top: 20px; 
    display: flex;
    justify-content: flex-start; 
}

.footer-bottom-image img {
    width: 60px;   
    height: auto;
}